<div id="wrapper">
  <div>
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/users"
        routerLinkActive="active">
        <div class="sidebar-brand-icon rotate-n-15">
          <img src="../../../assets/img/logo2.png" alt="Dashboard Icon" class="nav-icon">
        </div>
        <!-- AI6 -->
      </a>
      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span>
        </a>
      </li>
      <hr class="sidebar-divider my-0">
      <ng-container *ngIf="isAdmin">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/users" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <i class="fa-solid fa-users"></i>
            <span>Quản lý tài khoản</span>
          </a>
        </li>
      </ng-container>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/news" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa-solid fa-newspaper"></i>
          <span>Quản lý tin tức</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/reports" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa-solid fa-scroll"></i>
          <span>Quản lý báo cáo</span>
        </a>
      </li>
  

      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/mistakes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <i class="fa-solid fa-scroll"></i>
          <span>Quản lý khiếu nại</span>
        </a>
      </li>
    </ul>
  </div>

  <div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

      <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
          <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">

          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
              aria-labelledby="searchDropdown">
              <form class="form-inline mr-auto w-100 navbar-search">
                <div class="input-group">
                  <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                      <i class="fas fa-search fa-sm"></i>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </li>

          <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" id="userDropdown" role="button" (click)="toggleDropdown()"
              [class.show]="isDropdownOpen" aria-haspopup="true" [attr.aria-expanded]="isDropdownOpen">
              <div class="user-info">
                <span class="user-email">{{currentUser.email}}</span>
              </div>
              <div class="user-profile">
                <img class="img-profile rounded-circle" 
                     [src]="currentUser.avatar" 
                     (error)="onAvatarError($event)"
                     alt="User Avatar">
              </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" [class.show]="isDropdownOpen"
              aria-labelledby="userDropdown">
              <a class="dropdown-item" routerLink="/admin/profile">
                <i class="fa-solid fa-address-card"></i>
                Thông tin tài khoản
              </a>
              <a class="dropdown-item" (click)="logout()">
                <i class="fa-solid fa-right-from-bracket"></i>
                Đăng xuất
              </a>
            </div>
          </li>

        </ul>

      </nav>

      <div class="container-fluid">

        <router-outlet></router-outlet>
      </div>

    </div>

  </div>

</div>